<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_9" version="2.4">
	<display-name>Spring MVC Application</display-name>
	<!--声明一个servlet配置-->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
		   <param-name>contextConfigLocation</param-name>
		   <param-value>/WEB-INF/spring-mvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
   <!--配置servlet与处理请求的映射模式，会对所有*.jsp的后缀请求处理-->
   <servlet-mapping>
      <servlet-name>dispatcherServlet</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>
    <!-- 配置config文件 -->
	<context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>/WEB-INF/spring-mvc-config.xml</param-value>
	</context-param>
	<!--增加监听器-->
	<listener>
	   <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
   
   <!-- 显示页面及session配置 -->
	<welcome-file-list>
	  <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
	  <error-code>404</error-code>
	  <location>/error404.jsp</location>
	</error-page>
	<session-config>
	  <session-timeout>30</session-timeout>
	</session-config>
	
</web-app>